[user]
  name = Breki Tomasson
  email = breki.tomasson@gmail.com
[log]
  showSignature = false
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[core]
  autocrlf = false
  editor = $EDITOR
  compression = -1
  ignorecase = false
  excludesfile = ~/.gitignore_global
  legacyheaders = false
  safecrlf = true
  whitespace = trailing-space,space-before-tab
  precomposeunicode = true
  autolf = true
  eol = lf
	pager = delta
[web]
  browser = google-chrome
[push]
  default = simple
[pull]
  default = current
  ff = only
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[url "git://github.com/"]
  insteadOf = hub:
[url "git@github.com:brekitomasson/"]
  insteadOf = myhub:
[credential]
  elper = osxkeychain
	helper = osxkeychain
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[grep]
  extendRegexp = true
  lineNumber = true
[submodule]
  fetchJobs = 4
[interactive]
	diffFilter = delta --color-only
[delta]
	syntax-theme = Dracula
	line-numbers = true
	decorations = true
