[user]
  email = breki.tomasson@gmail.com
  name = Breki Tomasson

[log]
  showSignature = false

[filter "media"]
  clean = git media clean %f
  required = true
  smudge = git media smudge %f

[core]
  autocrlf = input
  compression = -1
  editor = $EDITOR
  eol = lf
  excludesfile = ~/.gitignore_global
  ignorecase = false
  legacyheaders = false
	pager = delta
  precomposeunicode = true
  safecrlf = true
  whitespace = trailing-space,space-before-tab

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[web]
  browser = google-chrome

[push]
  default = simple
  autoSetupRemote = true

[pull]
  default = current
  ff = only

[color]
  branch = auto
  diff = auto
  status = auto
  ui = true

[url "git://github.com/"]
  insteadOf = hub:

[url "git@github.com:brekitomasson/"]
  insteadOf = myhub:

[credential]
	helper = osxkeychain

[grep]
  extendRegexp = true
  lineNumber = true

[submodule]
  fetchJobs = 4

[interactive]
	diffFilter = delta --color-only

[delta]
	decorations = true
  features = side-by-side line-numbers decorations
	line-numbers = true
	syntax-theme = Dracula
  whitespace-error-style = 22 reverse

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-decoration-style = none
  file-style = bold yellow ul

[init]
  defaultBranch = master
